# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.meta

!Tower-Defense/
Tower-Defense/*

!Tower-Defense/Assets/
Tower-Defense/Assets/*


!Tower-Defense/Assets/Plugins/
!Tower-Defense/Assets/Scripts/
!Tower-Defense/Assets/Models/
!Tower-Defense/Assets/Prefabs/
!Tower-Defense/Assets/Scenes/
