# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!Tower-Defense/
Tower-Defense/*

!Tower-Defense/Assets/
Tower-Defense/Assets/*


!Tower-Defense/Assets/Plugins/
!Tower-Defense/Assets/Scripts/

#Tower-Defense/Library/*
#Tower-Defense/Logs/*
#Tower-Defense/Packages/*
#Tower-Defense/ProjectSettings/*
#Tower-Defense/UserSettings/*
#Tower-Defense/*.sln
#Tower-Defense/*.csproj
#
#Tower-Defense/Assets/Scenes/*
#Tower-Defense/Assets/Settings/*
#Tower-Defense/Assets/TutorialInfo/*
#Tower-Defense/Assets/*.meta
#Tower-Defense/Assets/*.asset
#Tower-Defense/Assets/*.inputactions